Source: libroxml
Section: devel
Priority: optional
Maintainer: Luka Perkov <luka.perkov@sartura.hr>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Homepage: http://www.libroxml.net

Package: libroxml
Architecture: amd64 i386
Description: Minimum, easy-to-use, C implementation for xml file parsing
